# Dates
___

Useful links:

* [Guide to `strftime`](http://strftime.org/)
* [List of timezones](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)

## The Date class

In [1]:
d2 = Sys.Date()

In [2]:
d2

[1] "2018-03-28"

The above looks like a string, but in fact it is not - it's a `Date` object.

In [3]:
class(d2)

[1] "Date"

We can format this in many ways.

In [6]:
format(d2, "%a %b %d")

[1] "Wed Mar 28"

In [7]:
x <- c("1jan1960", "2jan1960", "3jan1960", "4jan1960")
z <- as.Date(x, "%d%b%Y")

In [8]:
z

[1] "1960-01-01" "1960-01-02" "1960-01-03" "1960-01-04"

In [9]:
z[2]-z[1]

Time difference of 1 days

In [10]:
weekdays(d2)

[1] "Wednesday"

In [12]:
months(d2)

[1] "March"

In [13]:
julian(d2)

[1] 17618
attr(,"origin")
[1] "1970-01-01"

## lubridate package

In [14]:
library(lubridate)

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [15]:
ymd("20140108")

[1] "2014-01-08"

In [16]:
ymd("2018 Jan 20")

[1] "2018-01-20"

In [17]:
mdy(010299)

[1] "1999-01-02"

In [27]:
ymd_hms("2011080310:15:03", tz="Australia/Perth")

[1] "2011-08-03 10:15:03 AWST"