## Merging Data
___

Useful links:
* [Quick R data merging page](http://www.statmethods.net/management/merging.html)
* [plyr information](http://plyr.had.co.nz/)
* [Types of joins](http://en.wikipedia.org/wiki/join_(SQL\))

## Obtain the datasets

In [8]:
file.URL1 <- "https://raw.githubusercontent.com/jtleek/dataanalysis/master/week2/007summarizingData/data/reviews.csv"
file.URL2 <- "https://raw.githubusercontent.com/jtleek/dataanalysis/master/week2/007summarizingData/data/solutions.csv"

if (!file.exists("data/reviews.csv")) {
    download.file(file.URL1, "data/reviews.csv", method="curl", extra = "-L")
}

if (!file.exists("data/solutions.csv")) {
    download.file(file.URL2, "data/solutions.csv", method="curl", extra = "-L")
}

reviews <- read.csv("data/reviews.csv")
solutions <- read.csv("data/solutions.csv")

In [12]:
head(reviews, n=10)

   id solution_id reviewer_id start      stop       time_left accept
1   1  3          27          1304095698 1304095758 1754       1
2   2  4          22          1304095188 1304095206 2306       1
3   3  5          28          1304095276 1304095320 2192       1
4   4  1          26          1304095267 1304095423 2089       1
5   5 10          29          1304095456 1304095469 2043       1
6   6  2          29          1304095471 1304095513 1999       1
7   7  9          25          1304095343 1304095382 2130       1
8   8  8          23                  NA         NA   NA      NA
9   9  7          29          1304095520 1304095613 1899       1
10 10 11          26          1304095428 1304095488 2024       1

In [13]:
head(solutions, n=10)

   id problem_id subject_id start      stop       time_left answer
1   1 156        29         1304095119 1304095169 2343      B
2   2 269        25         1304095119 1304095183 2329      C
3   3  34        22         1304095127 1304095146 2366      C
4   4  19        23         1304095127 1304095150 2362      D
5   5 605        26         1304095127 1304095167 2345      A
6   6 384        27         1304095131 1304095270 2242      C
7   7 538        28         1304095133 1304095201 2311      C
8   8 312        24         1304095134 1304095198 2314      D
9   9 327        22         1304095151 1304095184 2328      E
10 10 194        23         1304095152 1304095175 2337      A

Note the match between `solution_id` and the `id` in `solutions`.

## Using the Merge command
`join` in the `plyr` package can be used, which is faster, but less fully-featured.

The important parameters are:
`x, y, by, by.x, by.y, all`

In [9]:
names(reviews)

[1] "id"          "solution_id" "reviewer_id" "start"       "stop"
[6] "time_left"   "accept"

In [10]:
names(solutions)

[1] "id"         "problem_id" "subject_id" "start"      "stop"
[6] "time_left"  "answer"

In [11]:
mergedData <- merge(reviews, solutions, by.x="solution_id", by.y="id", all=TRUE)
head(mergedData)

  solution_id id reviewer_id start.x    stop.x     time_left.x accept
1 1            4 26          1304095267 1304095423 2089        1
2 2            6 29          1304095471 1304095513 1999        1
3 3            1 27          1304095698 1304095758 1754        1
4 4            2 22          1304095188 1304095206 2306        1
5 5            3 28          1304095276 1304095320 2192        1
6 6           16 22          1304095303 1304095471 2041        1
  problem_id subject_id start.y    stop.y     time_left.y answer
1 156        29         1304095119 1304095169 2343        B
2 269        25         1304095119 1304095183 2329        C
3  34        22         1304095127 1304095146 2366        C
4  19        23         1304095127 1304095150 2362        D
5 605        26         1304095127 1304095167 2345        A
6 384        27         1304095131 1304095270 2242        C

By default, `merge` will merge on all column names.

In [15]:
intersect(names(solutions), names(reviews))

[1] "id"        "start"     "stop"      "time_left"

In [16]:
mergedData2 <- merge(reviews, solutions, all=TRUE)
head(mergedData2)

  id start      stop       time_left solution_id reviewer_id accept problem_id
1 1  1304095119 1304095169 2343      NA          NA          NA     156
2 1  1304095698 1304095758 1754       3          27           1      NA
3 2  1304095119 1304095183 2329      NA          NA          NA     269
4 2  1304095188 1304095206 2306       4          22           1      NA
5 3  1304095127 1304095146 2366      NA          NA          NA      34
6 3  1304095276 1304095320 2192       5          28           1      NA
  subject_id answer
1 29         B
2 NA         NA
3 25         C
4 NA         NA
5 22         C
6 NA         NA