# Summarising Data
___

## Generating datasets

The dataset used here - the *Baltimore Restaurants* dataset - can be downloaded [here](https://data.baltimorecity.gov/Culture-Arts/Restaurants/k5ry-ef3g).

In [3]:
rest.data <- read.csv("Restaurants.csv")

In [25]:
data(UCBAdmissions)
df <- as.data.frame(UCBAdmissions)

## Basic Exploration

In [38]:
object.size(rest.data)

242752 bytes

In [39]:
print(object.size(rest.data), units="Mb")

0.2 Mb

In [4]:
head(rest.data, n=5)

  name                  zipCode neighborhood councilDistrict policeDistrict
1 410                   21206   Frankford     2              NORTHEASTERN
2 1919                  21231   Fells Point   1              SOUTHEASTERN
3 SAUTE                 21224   Canton        1              SOUTHEASTERN
4 #1 CHINESE KITCHEN    21211   Hampden      14              NORTHERN
5 #1 chinese restaurant 21223   Millhill      9              SOUTHWESTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD\n
2 1919 FLEET ST\nBaltimore, MD\n
3 2844 HUDSON ST\nBaltimore, MD\n
4 3998 ROLAND AVE\nBaltimore, MD\n
5 2481 frederick ave\nBaltimore, MD\n

In [5]:
tail(rest.data, n=5)

     name                      zipCode neighborhood    councilDistrict
1323 ZEN WEST ROADSIDE CANTINA 21212   Rosebank         4
1324 ZIASCOS                   21231   Washington Hill  1
1325 ZINK'S CAF\u0090          21213   Belair-Edison   13
1326 ZISSIMOS BAR              21211   Hampden          7
1327 ZORBAS                    21224   Greektown        2
     policeDistrict Location.1
1323 NORTHERN       5916 YORK RD\nBaltimore, MD\n
1324 SOUTHEASTERN   1313 PRATT ST\nBaltimore, MD\n
1325 NORTHEASTERN   3300 LAWNVIEW AVE\nBaltimore, MD\n
1326 NORTHERN       1023 36TH ST\nBaltimore, MD\n
1327 SOUTHEASTERN   4710 EASTERN Ave\nBaltimore, MD\n

In [6]:
str(rest.data)

'data.frame':	1327 obs. of  6 variables:
 $ name           : Factor w/ 1277 levels "#1 CHINESE KITCHEN",..: 9 3 992 1 2 4 5 6 7 8 ...
 $ zipCode        : int  21206 21231 21224 21211 21223 21218 21205 21211 21205 21231 ...
 $ neighborhood   : Factor w/ 173 levels "Abell","Arlington",..: 53 52 18 66 104 33 98 133 98 157 ...
 $ councilDistrict: int  2 1 1 14 9 14 13 7 13 1 ...
 $ policeDistrict : Factor w/ 9 levels "CENTRAL","EASTERN",..: 3 6 6 4 8 3 6 4 6 6 ...
 $ Location.1     : Factor w/ 1210 levels "1 BIDDLE ST\nBaltimore, MD\n",..: 835 334 554 755 492 537 505 530 507 569 ...

In [7]:
summary(rest.data)

                           name         zipCode             neighborhood
 MCDONALD'S                  :   8   Min.   :-21226   Downtown    :128
 POPEYES FAMOUS FRIED CHICKEN:   7   1st Qu.: 21202   Fells Point : 91
 SUBWAY                      :   6   Median : 21218   Inner Harbor: 89
 KENTUCKY FRIED CHICKEN      :   5   Mean   : 21185   Canton      : 81
 BURGER KING                 :   4   3rd Qu.: 21226   Federal Hill: 42
 DUNKIN DONUTS               :   4   Max.   : 21287   Mount Vernon: 33
 (Other)                     :1293                    (Other)     :863
 councilDistrict       policeDistrict                          Location.1
 Min.   : 1.000   SOUTHEASTERN:385    1101 RUSSELL ST\nBaltimore, MD\n:   9
 1st Qu.: 2.000   CENTRAL     :288    201 PRATT ST\nBaltimore, MD\n   :   8
 Median : 9.000   SOUTHERN    :213    2400 BOSTON ST\nBaltimore, MD\n :   8
 Mean   : 7.191   NORTHERN    :157    300 LIGHT ST\nBaltimore, MD\n   :   5
 3rd Qu.:11.000   NORTHEASTERN: 72    300 CHARLES ST\nBaltimore, MD\n :   4
 Max.   :14.000   EASTERN     : 67    301 LIGHT ST\nBaltimore, MD\n   :   4
                  (Other)     :145    (Other)                         :1289

In [8]:
quantile(rest.data$councilDistrict, na.rm=TRUE)

  0%  25%  50%  75% 100%
   1    2    9   11   14

In [10]:
quantile(rest.data$councilDistrict, probs=c(0, 0.25, 0.5, 0.75, 0.9, 1))

  0%  25%  50%  75%  90% 100%
   1    2    9   11   12   14

In [11]:
table(rest.data$zipCode, useNA="ifany")  # List the number of NAs

-21226  21201  21202  21205  21206  21207  21208  21209  21210  21211  21212
     1    136    201     27     30      4      1      8     23     41     28
 21213  21214  21215  21216  21217  21218  21220  21222  21223  21224  21225
    31     17     54     10     32     69      1      7     56    199     19
 21226  21227  21229  21230  21231  21234  21237  21239  21251  21287
    18      4     13    156    127      7      1      3      2      1

In [12]:
table(rest.data$zipCode, rest.data$councilDistrict)

           1   2   3   4   5   6   7   8   9  10  11  12  13  14
  -21226   0   0   0   0   0   0   0   0   0   1   0   0   0   0
  21201    0   0   0   0   0   0   0   0   1   0 115  20   0   0
  21202   37   0   0   0   0   0   0   0   0   1 139  24   0   0
  21205    0   3   0   0   0   0   0   0   0   0   0   4  20   0
  21206    0  27   0   0   0   0   0   0   0   0   0   0   3   0
  21207    0   0   0   0   3   0   0   1   0   0   0   0   0   0
  21208    0   0   0   0   0   0   0   0   0   0   1   0   0   0
  21209    0   0   0   0   6   1   1   0   0   0   0   0   0   0
  21210    0   0   0   0   0  19   0   0   0   0   0   0   0   4
  21211    0   0   0   0   0   0  27   0   0   0   0   0   0  14
  21212    0   0   0  27   0   0   0   0   0   0   1   0   0   0
  21213    2   0   2   0   0   0   0   0   0   0   0  13  13   1
  21214    0   0  17   0   0   0   0   0   0   0   0   0   0   0
  21215    0   0   0   0  31  15   6   0   0   0   0   0   1   1
  21216    0   0   0   0   0   1   7   0   2   0   0   0   0   0
  21217    0   0   0   0   0   0  15   0   8   0   9   0   0   0
  21218    0   0   3   0   0   0   6   0   0   0   0  26   0  34
  21220    0   0   0   0   0   0   0   0   0   1   0   0   0   0
  21222    7   0   0   0   0   0   0   0   0   0   0   0   0   0
  21223    0   0   0   0   0   0   0   2  53   0   1   0   0   0
  21224  140  54   0   0   0   0   0   0   0   0   0   0   5   0
  21225    1   0   0   0   0   0   0   0   0  18   0   0   0   0
  21226    0   0   0   0   0   0   0   0   0  18   0   0   0   0
  21227    0   0   1   0   0   0   0   2   0   0   0   0   1   0
  21229    0   0   0   0   0   0   0  13   0   0   0   0   0   0
  21230    1   0   0   0   0   0   0   0  11 133  11   0   0   0
  21231  124   0   0   0   0   0   0   0   0   0   0   2   1   0
  21234    0   0   7   0   0   0   0   0   0   0   0   0   0   0
  21237    0   1   0   0   0   0   0   0   0   0   0   0   0   0
  21239    0   0   0   3   0   0   0   0   0   0   0   0   0   0
  21251    0   0   2   0   0   0   0   0   0   0   0   0   0   0
  21287    0   0   0   0   0   0   0   0   0   0   0   0   1   0

## Checking for NAs

In [13]:
sum(is.na(rest.data$councilDistrict))

[1] 0

In [15]:
any(is.na(rest.data$councilDistrict))

[1] FALSE

In [16]:
all(rest.data$zipCode > 0)

[1] FALSE

In [17]:
colSums(is.na(rest.data))

           name         zipCode    neighborhood councilDistrict  policeDistrict
              0               0               0               0               0
     Location.1
              0

## Looking for specific characteristics

Quick note - in the below, the `%in%` can be taken as a good example of a non-standard binary operator. In brief:
```
all(element.1 %fun% element.2 == `%fun%`(element.1, element.2))  # TRUE
```

In [23]:
all(rest.data$zipCode %in% c("21212") == `%in%` (rest.data$zipCode, c("21212")))

[1] TRUE

But anyway:

In [19]:
table(rest.data$zipCode %in% c("21212"))

FALSE  TRUE
 1299    28

In [18]:
table(rest.data$zipCode %in% c("21212", "21213"))

FALSE  TRUE
 1268    59

## Cross tabs

In [29]:
str(df)

'data.frame':	24 obs. of  4 variables:
 $ Admit : Factor w/ 2 levels "Admitted","Rejected": 1 2 1 2 1 2 1 2 1 2 ...
 $ Gender: Factor w/ 2 levels "Male","Female": 1 1 2 2 1 1 2 2 1 1 ...
 $ Dept  : Factor w/ 6 levels "A","B","C","D",..: 1 1 1 1 2 2 2 2 3 3 ...
 $ Freq  : num  512 313 89 19 353 207 17 8 120 205 ...

In [30]:
summary(df)

      Admit       Gender   Dept       Freq
 Admitted:12   Male  :12   A:4   Min.   :  8.0
 Rejected:12   Female:12   B:4   1st Qu.: 80.0
                           C:4   Median :170.0
                           D:4   Mean   :188.6
                           E:4   3rd Qu.:302.5
                           F:4   Max.   :512.0

In [34]:
xt <- xtabs(Freq ~ Gender + Admit, data=df)
xt

        Admit
Gender   Admitted Rejected
  Male       1198     1493
  Female      557     1278

We can put in more values here, but it gets complicated quickly! Instead, let's use `ftable`.

In [35]:
ftable(xtabs(Freq ~ Gender + Admit + Dept, data=df))

                Dept   A   B   C   D   E   F
Gender Admit
Male   Admitted      512 353 120 138  53  22
       Rejected      313 207 205 279 138 351
Female Admitted       89  17 202 131  94  24
       Rejected       19   8 391 244 299 317