# The tidyverse family
___

Code to explain the workings of the `tidyverse` packages.

> The tidyverse is a set of packages that work in harmony because they share common data representations and API design.

Useful links:
* [Github for tidyverse](https://github.com/tidyverse/tidyverse)

## Generate reference data

In [2]:
X <- data.frame("var1"=sample(1:5),"var2"=sample(6:10),"var3"=sample(11:15))
X <- X[sample(1:5),]
X$var2[c(1,3)] = NA
X

  var1 var2 var3
4 1    NA   13
5 5     6   11
2 3    NA   12
3 4    10   15
1 2     9   14

## plyr

In [1]:
library(plyr)

To carry out classic ordering:

In [3]:
arrange(X, var1)

  var1 var2 var3
1 1    NA   13
2 2     9   14
3 3    NA   12
4 4    10   15
5 5     6   11

In [4]:
arrange(X, desc(var1))

  var1 var2 var3
1 5     6   11
2 4    10   15
3 3    NA   12
4 2     9   14
5 1    NA   13

In [ ]:
kk